.body {
  font-family: "Arial";
}

.black_button {
  background: #283337;
  border-radius: 56px;
  font-family: "Arial";
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 12px;
}
@media (max-width: 767px) {
  .black_button {
    font-size: calc(12px + 8.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .black_button {
    font-size: calc(12px + 5 * (100vw / 1200));
  }
}

.section-inner {
  max-width: 1270px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.section-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header-search {
  display: flex;
  align-items: center;
}

.section-header-nav {
  display: flex;
  justify-content: space-between;
}

.section-header-link {
  margin-right: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #40494D;
}

.section-promo {
  background: #F3F7F4 no-repeat center top/contain;
  padding-bottom: 100px;
}
.section-promo__img {
  width: 100%;
}
.section-promo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-promo-text__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
@media (max-width: 767px) {
  .section-promo-text__title {
    font-size: calc(30px + 17 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-promo-text__title {
    font-size: calc(30px + 10 * (100vw / 1200));
  }
}
.section-promo-text__subtitle {
  font-weight: 400;
  line-height: 31px;
}
@media (max-width: 767px) {
  .section-promo-text__subtitle {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-promo-text__subtitle {
    font-size: calc(16px + 2 * (100vw / 1200));
  }
}

.section-promo-1 {
  padding-top: 100px;
  display: flex;
}

.section-promo-company {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-promo-company__img {
  margin-right: 100px;
}

.section-product-wrapper {
  padding-top: 74px;
  display: flex;
  padding-bottom: 74px;
}

.section-product-text {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}
.section-product-text__title {
  font-family: "Times New Roman";
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}
.section-product-text__subtitle {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 40px;
}
.section-product-text__button {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.section-product-automation-container {
  background: #F3F7F4 no-repeat center top/contain;
  padding: 80px;
}
.section-product-automation__icon {
  padding-bottom: 27px;
}
.section-product-automation__title {
  max-width: 203px;
  padding-bottom: 51px;
  font-size: 32px;
  line-height: 34px;
}
.section-product-automation__subtitle {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 38px;
}
.section-product-automation__learn {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.section-result {
  background: #F3F7F4 no-repeat center top/contain;
}
.section-result-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 406px;
}
.section-result__title {
  font-family: "Times New Roman";
  text-align: center;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 80px;
  padding-top: 224px;
}
@media (max-width: 767px) {
  .section-result__title {
    font-size: calc(24px + 61.2 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-result__title {
    font-size: calc(24px + 36 * (100vw / 1200));
  }
}
.section-result-pluses {
  display: flex;
  justify-content: space-between;
  padding-bottom: 172px;
}
.section-result-pluses-block__title {
  line-height: 70px;
  text-align: center;
}
@media (max-width: 767px) {
  .section-result-pluses-block__title {
    font-size: calc(24px + 44.2 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-result-pluses-block__title {
    font-size: calc(24px + 26 * (100vw / 1200));
  }
}
.section-result-pluses-block__subtitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 186px;
}

.section-difference {
  padding-bottom: 150px;
}
.section-difference-1 {
  display: flex;
  padding-bottom: 150px;
}
.section-difference-2 {
  display: flex;
  flex-direction: column;
}
.section-difference-2__title {
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding-bottom: 61px;
}
@media (max-width: 767px) {
  .section-difference-2__title {
    font-size: calc(24px + 57.8 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-difference-2__title {
    font-size: calc(24px + 34 * (100vw / 1200));
  }
}
.section-difference-2-block_company {
  display: flex;
  justify-content: space-between;
}
.section-difference-2-block_company__img img {
  height: auto;
  width: 100%;
}
.section-difference-left__title {
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 43px;
  max-width: 285px;
}
@media (max-width: 767px) {
  .section-difference-left__title {
    font-size: calc(24px + 61.2 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-difference-left__title {
    font-size: calc(24px + 36 * (100vw / 1200));
  }
}
.section-difference-left__subtitle {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 26px;
}
.section-difference-left-difference {
  margin-bottom: 24px;
}
.section-difference-left-difference__title {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.section-difference-left-difference__list li {
  list-style: none;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
}
.section-difference-left__learn {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
}
.section-difference-right {
  padding-top: 81px;
}
.section-start {
  background: #F3F7F4 no-repeat center top/contain;
  padding-top: 144px;
  padding-bottom: 100px;
}
.section-start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-start__title {
  font-family: "Times New Roman";
  line-height: 60px;
  max-width: 548px;
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .section-start__title {
    font-size: calc(30px + 51 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-start__title {
    font-size: calc(30px + 30 * (100vw / 1200));
  }
}
.section-start__subtitle {
  line-height: 36px;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .section-start__subtitle {
    font-size: calc(18px + 25.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-start__subtitle {
    font-size: calc(18px + 15 * (100vw / 1200));
  }
}
@media (max-width: 767px) {
  .section-start__button {
    font-size: calc(12px + 30.6 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .section-start__button {
    font-size: calc(12px + 18 * (100vw / 1200));
  }
}

.section-footer {
  background: #101C21;
  color: white;
  padding-top: 95px;
}
.section-footer-top {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
.section-footer-left-menu-main {
  margin-bottom: 17px;
}
.section-footer-left-menu-main__title {
  font-size: 16px;
  line-height: 18px;
  color: #878D90;
  margin-bottom: 16px;
}
.section-footer-left-menu-main__text {
  font-size: 16px;
  line-height: 18px;
  color: #CFD2D3;
  margin-bottom: 13px;
}
.section-footer-left-menu-sub_main {
  margin-bottom: 31px;
}
.section-footer-left-menu-sub_main__text {
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.section-footer-right {
  flex-basis: 50%;
}
.section-footer-right-menu {
  display: flex;
  justify-content: space-between;
}
.section-footer-right-menu-resources, .section-footer-right-menu-support, .section-footer-right-menu-about {
  display: flex;
  flex-direction: column;
}
.section-footer-right-menu-resources__title, .section-footer-right-menu-support__title, .section-footer-right-menu-about__title {
  font-size: 15px;
  line-height: 17px;
  color: #878D90;
  margin-bottom: 17px;
}
.section-footer-right-menu-resources__text, .section-footer-right-menu-support__text, .section-footer-right-menu-about__text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}
.section-footer-right-email__title {
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 30px;
}
.section-footer-right-email-send_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-footer-right-email-send_email__form {
  width: 100%;
  margin-right: 10px;
}
.section-footer-right-email-send_email__form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #CFD2D3;
  border-radius: 4px;
}
@media (max-width: 1180px) {
  .section-inner {
    width: 963px;
  }
  .section-difference-right__video img {
    max-width: 450px;
  }
}
@media (max-width: 963px) {
  .section-inner {
    width: 768px;
  }
  .section-promo-1 {
    flex-wrap: wrap;
  }
  .section-difference-1 {
    flex-wrap: wrap;
  }
  .section-difference-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .section-difference-right__video img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .section-inner {
    width: 468px;
  }
  .section-promo__img img {
    width: 100%;
  }
  .section-promo-2 {
    display: none;
  }
  .section-header-menu {
    display: none;
  }
  .section-product-wrapper {
    flex-wrap: wrap;
  }
  .section-result-wrapper {
    margin-bottom: 203px;
  }
}
@media (max-width: 468px) {
  .section-inner {
    width: 320px;
  }
  .section-difference-right__video img {
    display: none;
  }
  .section-product-automation-container {
    padding: 50px;
  }
  .section-footer-left-menu {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
